body{
    font-family: 'Times New Roman';
}

.border{
    margin: auto;
    width: 900px;
    height: 1132px;
}

.bdr{
    width: 400px;
    margin-left: 20px;
}

.horizontalLine{
    border: 1px solid black;
    background-color: black;
    width: 37px;
}

.name{
    background-color: #ffe6e6;
    width: 250px;
    height: 290px;
    padding-left: 50px;
    padding-top: 25px;
    float: left;
    word-break: break-word;
}

.list{
    padding-left: 12px;
}

.unorderedList{
    padding-left:60px;
    width: 100%;
    word-break: break-word;
}

.summary{
    background-color: #fff2e5;
    float: right;
    width: 490px;
    height: 250px;
    padding-top: 65px;
    padding-left: 50px;
    padding-right: 60px;
    word-break: break-word;
}

img{
    width: 25px;
    border-radius: 20px;
    background-color: white;
}

.icon{
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}

.spanDetails{
    padding-left: 10px;
}

.paraContent{
    font-size: 19px;
    word-break: break-word;
}

.skills{
    background-color: #fff2e5;
    float: left;
    padding-left: 50px;
    padding-top: 25px;
    height: 700px;
    width: 250px;
    word-break: break-word;
}

.qualifications{
    padding-top: 25px;
    padding-right: 165px;
    float: right;
    word-break: break-word;
    height: 850px;
}

.summaryHead{
    padding-left: 45px;
    width: 100%;
}
.workHistoryMargin{
    margin: 0px;
}
.top{
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    .name{
        width: 100%;
    }
    .bdr{
        width: 100%;
        margin-left: 0px;
    }
    .summary{
        width: 100%;
        height: auto;
    }
    .skills{
        width: 100%;
    }
    .qualifications{
        width: 100%;
        padding-right: 10px;
    }
    .workHistoryMargin{
        margin: 0px;
    }
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0px;
    }
    .border{
        width: 100%;
    }
    .top{
        margin-top: 10px;
    }
}
